body {
    background-color: black;
    color: white;
    font-family: 'Poppins';
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh auto;
    transition: 1s;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
    margin: 0 0 2rem;
    width: 300px;
}

#last {
    margin-bottom: 2rem;
}

#icon-container {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 2rem;

}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 64px;
}

.label {
    font-weight: 100;
    display: none;
    color: white;
    margin: 0;
    cursor: default;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 100%;}
}

@keyframes fadeOut {
    0% {opacity: 100%;}
    100% {opacity: 0;}
}


.icons {
    width: 64px;
    cursor: pointer;
}

#about {
    display: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#portrait {
    height: 300px;
    border-radius: 1rem;
    /* max-width: 300px; */
}

#p-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 2rem;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.25rem;
    text-align: left;
    max-width: 350px;
    max-height: 350px;
}

#p-container>* {
    margin: 0 0 1rem;
    text-indent: 2rem;
}

#back-container {
    display: none;
}

#projects-container {
    width: 1000px;
    height: 75vh;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.border {
    height: 275px;
    width: 275px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 16px;
}

.scroll-box{
    height: 275px;
    width: 275px;
    overflow: scroll;
    overflow-x: hidden;
}

.project-label {
    font-weight: 100;
    cursor: pointer;
    transition: 300ms;
}

::-webkit-scrollbar {
    background: rgb(56, 56, 56);
}

::-webkit-scrollbar-track{
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173);
    border-radius: 1rem;
}

.projects img {
    width: 100%;
}

@media screen and (max-width: 550px) {
    #icon-container {
        width: 80%;
        flex-wrap: wrap;
    }

    #about {
        flex-direction: column;
    }

    #portrait {
        height: 250px;
    }

    #p-container {
        margin: 1rem 0 0;
    }


    #projects-container {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
    }
}