body {
    background-color: black;
    color: white;
    font-family: 'Poppins';
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh auto;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
    margin: 0;
    width: 300px;
    margin-bottom: 1rem;
}

#last {
    margin-bottom: 2rem;
}

#icon-container {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 2rem;

}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 64px;
}

.label {
    font-weight: 100;
    display: none;
    color: white;
    margin: 0;
    cursor: default;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 100%;}
}

@keyframes fadeOut {
    0% {opacity: 100%;}
    100% {opacity: 0;}
}


.icons {
    width: 64px;
    cursor: pointer;
}

#about {
    display: none;
    width: 75vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#portrait {
    width: 50%;
    height: 50%;
    border-radius: 1rem;
    max-width: 300px;
}

#p-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 2rem;
    font-size: .75rem;
    text-align: justify;
    max-width: 350px;
    max-height: 350px;
}

#p-container>* {
    margin: 0 0 1rem;
    text-indent: 2rem;
}

#back {
    display: block;
    width: 50px;
    align-self: center;
    display: none;
}

@media screen and (max-width: 550px) {
    #about {
        flex-direction: column;
    }

    #p-container {
        margin-top: 2rem;
    }

    #icon-container {
        flex-wrap: wrap;
        width: 300px;
    }

    #grid-item {
        width: 0;
    }

    h1 {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 800px) {
    body {
        margin: 0;
    }
}